@model IEnumerable<WebDangKyKHHT.Models.HocKi>

@{
    ViewBag.Title = "Index";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>LỊCH SỬ ĐĂNG KÝ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table custom-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Học kỳ</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int stt = 0;}
                        @foreach (var row in Model)
                        {
                            
                            <tr>
                                <td>@(++stt)</td>
                                <td>Học kỳ @(row.TenHK)</td>
                                <td><a href="@Url.Content("~/chi-tiet-dang-ky-hoc-ki-" + row.ID)">Chi tiết</a></td>
                                <td><a href="@Url.Action("print","KHHTs", new { id = row.ID })">Tải xuống</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>